<h1>Consistency Rules</h1>

<p>To help make sure that each incident is consistent, the following rules have
  been developed to aid in entering incidents. It helps to explain why some
  things were recorded the way they were and why some incidents have been
  included or excluded.</p>

<p>The purpose of this project is the collect data about publicly-disclosed
  instances of police misconduct that occurs on the job and while interacting
  with civilians. This definition is very important in deciding what gets into
  the database and what does not and the rules have been developed to ensure
  that this guiding principle is adhered to.

<h2>Rules of Inclusion</h2>

<p><strong>Rule Number 1:</strong> This is not a court of law and thus the
  threshold for inclusion is not proof beyond a reasonable doubt. The
  threshold for this project is whether or not the abuse is "very likely based
  on the known evidence."</p>

<div class="well">If an incident report has few details, lacks dates or location
or is based on a lot of information that can't be independently verified then it
is low-quality and should not be entered. An accusation that officers beat up
somebody with no evidence to back it up is low quality. Video evidence adds
quite a bit of quality as do reports from news organizations and impartial
witnesses.</div>

<p><strong>Rule Number 2:</strong> No private knowledge is allowed into the
  dataset. Anything that is going to be included must be backed up by a public
  source of information. Every record should include all of the sources that
  were used to create the record. Thus every record should be completely
  auditable.</p>

<p><strong>Rule Number 3:</strong> This is not the prison abuse database.
  Although it is well-known that prisoners are abused by law enforcement this
  dataset is not going to attempt to record that. Usually there is very little
  evidence to back up claims of prisoner abuse anyway.

<p><strong>Rule Number 4:</strong> Use of Police Property is Police action. If
an off-duty officer makes use of resources that are only available to a police
officer then it is an act of police misconduct. For example, if an officer uses
a police database to get the address of a guy that is sleeping with his wife, and
then beats up the guy, the officer has committed an abuse. If an off-duty
officer uses his service weapon or badge in the commission of abuse, then it is
officer abuse and not private citizen action.

<div class="well">An off-duty officer is arrested for soliciting a prostitute,
however, and does not appear to be using his position or police property to
secure dates or get out of the charges then it is a private matter. While the
officer may be fired or demoted, it isn't really an instance of a police officer
abusing his or her position as an officer.</div>

<p><strong>Rule Number 5:</strong> It is an abuse of the people to deploy a
SWAT team when such force is clearly unnecessary. The use of SWAT teams to serve
search warrants, especially for minor drug offenses,  will be considered
intimidation (show-of-force) because there was an unnecessary  show of force
involved in the action. If during the SWAT raid the door is broken  then force
(destruction-of-property) applies also.</p>

<p><strong>Rule Number 6:</strong> Accidents are not abuse. If an officer did
not intent to abuse the rights of a person then it will not be included. For
example, if a SWAT team raids the wrong address then it is a tragic
accident.</p>

<div class="well">However, under the fruit of the poisonous tree rule it may
  still be included if the SWAT team itself was unreasonable. If the SWAT team
  was being sent to enforce a noise ordinance (which is unreasonable) and then
  manages to raid the wrong house, then an abuse has been committed and the
  incident should be included.</div>

<p><strong>Rule Number 7:</strong> Irritation is not abuse. <a
href="http://photographyisnotacrime.com/2014/09/10/washington-d-c-cop-bullies-videographer-recording-arrest-despite-official-departmental-policy/">For
example.</a> This officer might be wrong about the legality of video, but he
does not at any point become verbally abusive, put hands on the cameraman, or
arrest him.</p>

<h2>Coding Rules</h2>

<p><strong>Rule Number 8:</strong> Fruit of the poisonous
tree. If an officer commits an abuse, anything that comes from that abuse,
even things that are justified in the circumstances, are also forms of abuse.
E.g., if an officer enters a home without permission and without a warrant he
has committed a search abuse. If the home owner then tries to remove the
officer and is beaten up the beating is also an abuse because the officer
should not have been there in the first place. This rule most often applies in
the case of a SWAT team being called for minor offenses.</p>

<p><strong>Rule Number 9:</strong> Crap rolls downhill. When **multiple
agencies** are involved and it is not clear which agencies officers committed
the abuse, then the incident is modelled using the  most localized department.
If the Sheriff's department and the city police respond to a call and abuse
occurs the incident is modelled as an incident from the city police department.
However, if it is reported that a Sheriff's deputy beat a handcuffed suspect
then the incident is modelled as an incident from the Sheriff's department. When
**multiple agencies** are involved and officers from both agencies committ
abuse, then the incident is  modelled as an incident from the most localized
department. If the DEA and the Sheriff's department drive a tank  through
someone's living room looking for a dime bag of weed then the incident is
recorded   as a Sheriff's department incident.

<p><strong>Rule Number 10:</strong> Sexual assault creates injuries. If an
officer commits sexual assault or rape that should be recorded as a sexual abuse
in the abuse section. There should also be an injury listed in the physical
outcomes section even if the sex was consensual (statuatory rape or coerced) and
the victim was not beat up.
