<h1>Placeholder</h1>
<p>I want to put some data views here. I'm collecting ideas</p>
<ul>
  <li>Bar chart of top settlement amounts. Incident.order(:outcome_dollars)</li>
  <li>Most frequently seen departments</li>
  <li>Proportion of incidents with each abuse type</li>
  <li>Hall of Shame for repeatedly abusive officers</li>
  <li>choropleth of incidents by state, or county, or zip code</li>
</ul>
